body{

background:#f4f7fb;

}

.sidebar{

background:#0f172a;

}

.card{

border:none;

border-radius:15px;

}

.table{

background:white;

}

.btn{

border-radius:10px;

}

.badge{

font-size:14px;

}

img{

border-radius:8px;

}

.card:hover{

transform:translateY(-4px);

transition:.25s;

}